In [7]:
import pandas as pd

data = pd.read_csv('datasets/census_income_dataset.csv')
# data.info()
data = data.drop(["fnlwgt","education","relationship", "sex", "race"], axis=1)
data.isnull().sum()

age                  0
workclass         1836
education-num        0
marital-status       0
occupation        1843
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
target               0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

features_to_convert = ["workclass","marital-status","occupation","native-country","target"]
for i in features_to_convert:
    data[i] = enc.fit_transform(data[i].astype('str'))
data.head()

,age,workclass,education-num,marital-status,occupation,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,6,13,4,0,2174,0,40,32,0
1,50,5,13,2,8,0,0,13,32,0
2,38,3,9,0,10,0,0,40,32,0
3,53,3,7,2,10,0,0,40,32,0
4,28,3,13,2,14,0,0,40,34,0

In [12]:
outliers = {}

for i in range(data.shape[1]):
    vals = data.columns[i]
    min_t = data[vals].mean() - 3 * data[vals].std()
    max_t = data[vals].mean() + 3 * data[vals].std()
    count = 0
    for j in data[vals]:
        if j < min_t or j > max_t:
            count += 1
        outliers[vals] = [count, data.shape[0] -  count]
for k, v in outliers.items():
    print(k, v)

age [121, 32440]
workclass [0, 32561]
education-num [219, 32342]
marital-status [0, 32561]
occupation [0, 32561]
capital-gain [215, 32346]
capital-loss [1470, 31091]
hours-per-week [440, 32121]
native-country [919, 31642]
target [0, 32561]

In [15]:
data.describe()

,age,workclass,education-num,marital-status,occupation,capital-gain,capital-loss,hours-per-week,native-country,target
count,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,3.376371,10.080679,2.611836,7.381162,1077.648844,87.303830,40.437456,31.016339,0.240810
std,13.640433,1.582038,2.572720,1.506222,4.344411,7385.292085,402.960219,12.347429,4.749134,0.427581
min,17.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,3.000000,9.000000,2.000000,4.000000,0.000000,0.000000,40.000000,32.000000,0.000000
50%,37.000000,3.000000,10.000000,2.000000,7.000000,0.000000,0.000000,40.000000,32.000000,0.000000
75%,48.000000,3.000000,12.000000,4.000000,11.000000,0.000000,0.000000,45.000000,32.000000,0.000000
max,90.000000,8.000000,16.000000,6.000000,14.000000,99999.000000,4356.000000,99.000000,41.000000,1.000000